# IntelliJ project files
*.iml
.idea/
idea/*
.vscode/*
.cursor/
test/*
config/*
data/*
temp/
ssl/*
.env
billionmail.conf
logs/
backup/
vmail-data/
postfix-data/
rspamd-data/
postgresql-data/
redis-data/
