# IntelliJ project files
*.iml
.idea/
idea/*
.vscode/*
test/*
config/*
data/*
temp/
ssl-self-signed
ssl/*
.env
billionmail.conf
DBPASS_file.pl
conf/postfix/extra.cf
conf/postfix/sql
conf/dovecot/conf.d/dovecot-sql.conf.ext
logs
postgresql-socket
vmail-data
postfix-data
redis-data
postgresql-data
rspamd-data
